.container {
  min-height: 93vh;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 8rem;
  font-size: 2.4rem;
  text-align: center;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.title span {
  font-size: 1.1rem;
  letter-spacing: 0rem;
}

.projectsContainer {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 60rem;
  margin-bottom: 4rem;
}

.moreBtn {
  animation: fadeIn 0.3s ease;
  background-color: var(--dark-blue);
  color: white;
  border: 1px solid var(--glowing-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 1150px) {
  .projectsContainer {
    width: 95%;
  }
}

@media (max-width: 800px) {
  .projectsContainer {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .projectsContainer {
    width: 95%;
  }
}
