@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: #082739;
  --glowing-blue: #25afff;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(115deg, #000020b7, #101012de), url("assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  font-family: "Raleway", sans-serif;
}

li {
  list-style: none;
}

/* for firefox */
html {
  scrollbar-color: #ffffff8c #000000;
  scrollbar-width: thin;
}

/* for other browsers */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff8c;
}
